* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

.main {
    background: url(resources/1background.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 107vh;
}

.main .blur-box {
    width: 100%;
    height: 107%;
    opacity: 0.5;
    background-color: black;
    top: 0;
    position: absolute;
}   

.main nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 150px;
    position: relative;
    z-index: 1;
}

.main nav .button #lang {
    width: 126px;
    height: 32px;
    padding: 6px 28px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.527);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.main nav .button button {
    width: 77px;
    height: 32px;
    border-radius: 3px;
    background-color: rgb(229 9 20);
    color: #fff;
}

.main nav .button button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.main nav .button #lang:focus {
    border: 2px solid #fff;
}

.content-1 {
    top: 177px;
    font-weight: 700;
    color: #fff;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.content-1 h1 {
    font-size: 48px;
}

.content-1 p {
    font-size: 24px;
}

.content-1 h3 {
    font-size: 20px;
}

.content-1 .input {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.content-1 .input .email {
    width: 375px;
    height: 56px;
    outline: 1px solid #fff;
    border-radius: 3px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.541);
    padding: 20px;
    font-size: 1rem;
    color: #fff;
}

.content-1 .input button {
    width: 204px;
    height: 56px;
    border-radius: 3px;
    background-color: rgb(229 9 20);
    font-size: 1.5rem;
    color: #fff;
}

.content-1 .input button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.page2 {
    height: 80vh;
}

.page2 hr {
    border: 4px solid rgb(35 35 35);
}

.page2 .content-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 175px ;
}

.page2 .content-2 .content-2-text {
    color: #fff;
}

.page2 .content-2 .content-2-text h2 {
    font-size: 48px;
    font-weight: 700;
}

.page2 .content-2 .content-2-text p {
    font-size: 24px;
    margin-top: 15px;
}

.page2 .content-2 .tv1 img {
    width: 509px;
    height: 382px;
}

.page2 .content-2 .tv1 video {
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 31.7%;
    max-height: 54%;
    position: absolute;
    top: 123%;
    left: 54%;
}

.page2 .content-2 .eleven-png .page3-photo-div {
    background-color: black;
    border: 2px solid rgb(35 35 35);
    z-index: 1;
    width: 320px;
    height: 104px;
    position: absolute;
    left: 25%;
    top: 252%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.page3-text .t1{
    color: #fff;
}

.page3-text .t2 {
    color:#0071EB;
}

.page3-photo-div .download-icon .Btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
  }
  
  .svgIcon {
    fill: rgb(214, 178, 255);
  }
  
  .icon2 {
    width: 18px;
    height: 5px;
    border-bottom: 2px solid rgb(182, 143, 255);
    border-left: 2px solid rgb(182, 143, 255);
    border-right: 2px solid rgb(182, 143, 255);
  }
  
  .tooltip {
    position: absolute;
    right: -105px;
    opacity: 0;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(12, 12, 12);
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    left: -5%;
    transition-duration: .3s;
  }
  
  .Btn:hover .tooltip {
    opacity: 1;
    transition-duration: .3s;
  }
  
  .Btn:hover {
    background-color: rgb(150, 94, 255);
    transition-duration: .3s;
  }
  
  .Btn:hover .icon2 {
    border-bottom: 2px solid rgb(235, 235, 235);
    border-left: 2px solid rgb(235, 235, 235);
    border-right: 2px solid rgb(235, 235, 235);
  }
  
  .Btn:hover .svgIcon {
    fill: rgb(255, 255, 255);
    animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  .page4 {
    height: 80vh;
}

.page4 hr {
    border: 4px solid rgb(35 35 35);
    margin-top: -170px;
}

.page4 .content-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 250px 175px ;
}

.page4 .content-4 .content-4-text {
    color: #fff;
}

.page4 .content-4 .content-4-text h2 {
    font-size: 48px;
    font-weight: 700;
}

.page4 .content-4 .content-4-text p {
    font-size: 24px;
    margin-top: 15px;
}

.page4 .content-4 .tv1 img {
    width: 509px;
    height: 382px;
}

.page4 .content-4 .tv1 video {
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 24%;
    max-height: 54%;
    position: absolute;
    top: 298%;
    left: 56%;
}

.top {
    margin-top: 230px;
}

.page6 {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page6 h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    margin-top: 740px;
}

.accordian {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.page6 li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.page6 li label {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    background: #303030;
    padding: 20px;
    display: flex;
    cursor: pointer;
    align-items: center;
    position: relative;
    margin-bottom: 2px;
}

label::after {
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
}
input[type="checkbox"]{
    display: none;
}

.page6 li .content {
    color: #fff;
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;  
    overflow: hidden;
}

.accordian input[type="checkbox"]:checked + label + .content {
    max-height: 600px;
    padding: 30px 20px;
}

.accordian input[type="checkbox"]:checked + label::after {
    rotate: z 45deg;
}

.page6 .input {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.page6 .input .email {
    width: 375px;
    height: 56px;
    outline: 1px solid #fff;
    border-radius: 3px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.541);
    padding: 20px;
    font-size: 1rem;
    color: #fff;
}

.page6 .input button {
    width: 204px;
    height: 56px;
    border-radius: 3px;
    background-color: rgb(229 9 20);
    font-size: 1.5rem;
    color: #fff;
}

.page6 .input button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.page6 p {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}
.page6 hr {
    border: 4px solid rgb(35 35 35);
    margin-top: 70px;
    width: 100%;
}

footer {
    color: #ffffffB3;
    margin: 72px 113px;
    padding: 0px 48px;
    position: absolute;
    margin-top: 590px;
}

.call {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
}
footer .call a {
    color: #ffffffB3;
    font-size: 16px;
}

footer .row .col a  {
    color: #ffffffB3;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

footer .row {
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
}

footer .col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
    row-gap: 50px;
}

footer .button #lang {
    width: 126px;
    height: 32px;
    padding: 6px 28px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.527);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #fff;
}

footer .button #lang:focus {
    border: 2px solid #fff;
}

footer p {
    margin-top: 30px;
    margin-bottom: 90px;
}