* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

.main {
    background: url(resources/1background.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 107vh;
}

.main .blur-box {
    width: 100%;
    height: 107%;
    opacity: 0.5;
    background-color: black;
    top: 0;
    position: absolute;
}   

.main nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 150px;
    position: relative;
    z-index: 1;
}

.main nav .button #lang {
    width: 126px;
    height: 32px;
    padding: 6px 28px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.527);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.main nav .button button {
    width: 77px;
    height: 32px;
    border-radius: 3px;
    background-color: rgb(229 9 20);
    color: #fff;
}

.main nav .button button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.main nav .button #lang:focus {
    border: 2px solid #fff;
}

.content-1 {
    top: 177px;
    font-weight: 700;
    color: #fff;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.content-1 h1 {
    font-size: 48px;
}

.content-1 p {
    font-size: 24px;
}

.content-1 h3 {
    font-size: 20px;
}

.content-1 .input {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.content-1 .input .email {
    width: 375px;
    height: 56px;
    outline: 1px solid #fff;
    border-radius: 3px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.541);
    padding: 24px 16px 8px;
}

.content-1 .input button {
    width: 204px;
    height: 56px;
    border-radius: 3px;
    background-color: rgb(229 9 20);
    font-size: 1.5rem;
    color: #fff;
}

.content-1 .input button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.page2 {
    height: 80vh;
}

.page2 hr {
    border: 4px solid rgb(35 35 35);
}

.page2 .content-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 175px ;
}

.page2 .content-2 .content-2-text {
    color: #fff;
}

.page2 .content-2 .content-2-text h2 {
    font-size: 48px;
    font-weight: 900;
}

.page2 .content-2 .content-2-text p {
    font-size: 24px;
    margin-top: 15px;
}

.page2 .content-2 .tv1 img {
    width: 509px;
    height: 382px;
}

.page2 .content-2 .tv1 video {
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 31.7%;
    max-height: 54%;
    position: absolute;
    top: 123%;
    left: 54%;
}